@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");

.main {
  height: 100%;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.ReactModal__Content,
ReactModal__Content--after-open {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media (min-width: 1024px) {
  .ReactModal__Content,
  ReactModal__Content--after-open {
    justify-content: flex-start;
  }
}
