.form-create-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  justify-content: space-evenly;
}

.form-create-task label {
  font-size: 3.8rem;
  color: #fff;
}

select,
option,
input {
  cursor: pointer;
}

input[type="text"] {
  cursor: text;
}

.select-day-week,
.select-day-week option {
  width: 85%;
  padding: 0.9rem 0.8rem;
  font-size: 1.7rem;
}

.form-create-task input {
  width: 85%;
  padding: 0.9rem 0.8rem;
  font-size: 1.7rem;
}

.btn-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
